.container {
    background-color: white;
    width: 100%;
    border-radius: 15px;
    padding: 20px;
  }
  
  .largeContainer {
    font-family: var(--font-primary);
    margin-top: 30px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    width: 77%;
    float: right;
    height: calc(100vh - 100px);
    overflow-y: auto;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .navSearchFilter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .navArrows {
    display: flex;
    align-items: center;
  }
  
  .arrowIcon {
    margin-right: 10px;
    cursor: pointer;
    font-size: 1.5rem;
  }
  
  .searchContainer {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .searchInput {
    padding: 8px 30px 8px 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
  }
  
  .searchIcon {
    position: absolute;
    right: 10px;
    font-size: 1.2rem;
    color: #888;
  }
  
  .filterContainer {
    margin-left: 20px;
  }
  
  .filterSelect {
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
  }
  
  .table th,
  .table td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
  }
  
  .table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .bookImage {
    width: 40px;
    height: 60px;
    margin-right: 10px;
    vertical-align: middle;
  }
  
  .status.pending {
    color: pink;
  }
  
  .status.returned {
    color: blue;
  }
  
  .status.lost {
    color: red;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pageButton {
    padding: 8px 12px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
  }
  
  .pageButton:hover {
    background-color: #f0f0f0;
  }